.App {
  text-align: center;
}

html{
  background-color: rgb(61, 64, 71);
}

.Grid {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  display: inline-block;
  column-count: 10;
  column-gap: 0px;
  column-gap: none;
  max-width: 40rem;
}

.Cell {
  font-size: 1.5rem;
  padding: 1.6rem;
  background-color: slategray;
  outline: none;
}

.Cell:hover {
  background-color: rgba(112,128,144, 0.9)
}

.Option {
  background-color: rgb(181, 188, 194);
  font-size: 1.5rem;
  margin: 0.2rem;
  padding: 1rem;
  border: 0.1rem solid rgb(107, 114, 121);
}

.Option:hover {
  background-color: rgb(107, 114, 121);
}

.OptionBar {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
  column-count: 4;
  column-gap: none;
  display: flex
}

.Cell.START { 
  background-color: rgb(19, 197, 19);
}

.Cell.END { 
  background-color: rgb(200, 56, 56);
}

.Cell.BLOCKED { 
  background-color: rgb(48, 124, 149);
}

.Cell.SHORTEST {
  background-color: purple;
}