.App {
  text-align: center;
  justify-content: center;
}

html{
  background-color: rgb(77, 77, 88);
}

.Grid {
  transform: translate(0%, 10%);
  margin: 0 auto;
  display: inline-block;
  column-count: 10;
  column-gap: 0px;
  column-gap: none;
  max-width: 39rem;
}

.Cell {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: aliceblue;
  outline: none;
  border: 1px solid black
}

.Cell:hover {
  background-color: rgba(228, 239, 250, 0.9)
}

.Option {
  background-color: aliceblue;
  min-width: 8.25rem;
  font-size: 1.5rem;
  margin: 4rem 0.8rem 0rem 0.8rem;
  padding: 1rem;
  border: 0.1rem solid rgb(218, 221, 223);
}

.Option:hover {
  background-color: rgba(228, 239, 250, 0.9);
}

.OptionBar {
  justify-content: center;
  transform: (0%, 10%);
  display: block;
  margin: 0 auto;
  white-space: nowrap;
}

.Cell.START { 
  background-color: rgb(35, 192, 35);
}

.Cell.END { 
  background-color: rgb(202, 70, 70);
}

.Cell.BLOCKED { 
  background-color: rgb(29, 125, 156);
}

.Cell.SHORTEST {
  background-color: rgb(123, 217, 230);
}
