.App {
  text-align: center;
}

.Grid {
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -60%);
  display: inline-block;
  column-count: 10;
  column-gap: 0px;
  column-gap: none;
  max-width: 38rem;
}

.Cell {
  font-size: 1.5rem;
  padding: 0.8rem;
  background-color: slategray;
  outline: none;
}

.Cell:hover {
  background-color: rgba(112,128,144, 0.9)
}

.OptionBar {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
  column-count: 4;
  column-gap: none;
  display: flex
}